{% extends 'base_layout.html' %}
{% block body %}
<div class="col-md-12">
    <div class="touch">
        <div class="card text-left">
            <div class="card-body">
                <h1>Upload Some Image</h1>
                <br>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*">
                    <br>
                    <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}